main .some-text {
    padding-top: 30px;
     
    h1 {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }
    a{
        text-decoration: none;
        color: $hover-color;
    }

    p {
        @include article ($fz, pink, $lh );
    }
}

main .text-about {
    h1 {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }

    a{
        text-decoration: none;
        color: $hover-color;
    }
    p {
        @include article ($fz, orange, $lh );
    }
    }

    main .main-text {
        h1 {
        @extend %style-title;
        }

        a{
            text-decoration: none;
            color: $hover-color;
        }

        p{
            @include article ($fz, green, $lh);
        }
    }