$main-color: #000000;
$hover-color: #ff3f40;
$color-fon: #ffffff;
$main-fz: 16px;
$fz-btn:18px;

%btn {
    text-decoration: none;
    padding: 23px 105px;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid $hover-color;
    font-size: $fz-btn;
}


